<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Recipes</title>
</head>
<body>
    <div class="main">
        <div class="header">
            <h1>Welcome, {{ session["first_name"] }}!</h1>
            <a href="/recipes" class="btn btn-info">back to recipes</a>
            <a href="/logout" class="btn btn-info">Logout</a>
        </div>
        <div class="show_recipe_content">
            <div class="recipe_content_header">
                <h1>{{ recipe.name }}</h1>
                <h3>Posted by: {{ recipe.user_first_name }}</h3>
            </div>
            <div class="recipe_info">
                <table>
                    <tr>
                        <td>Description:</td>
                        <td>{{ recipe.description }}</td>
                    </tr>
                    <tr>
                        <td>Under 30 minutes?</td>
                        <td>{{ recipe.under_30 }}</td>
                    </tr>
                    <tr>
                        <td>Instructions:</td>
                        <td>{{ recipe.instructions }}</td>
                    </tr>
                    <tr>
                        <td>Date Made:</td>
                        <td>{{ recipe.date_made }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
